.record
  .record__list
    .record__list__index
      .record__list__index__time
        日時
      .record__list__index__text
        記録
      .record__list__index__name
        記述者
    .record__list__data
      .record__list__data__time
        = record.created_at.try(:strftime, "%Y/%m/%d %H:%M")
      .record__list__data__text
        - if record.content.present?
          = record.content
        = image_tag record.image.url, class: 'record__date__image' if record.image.present?
      .record__list__data__name